.a2 {

    color: #fff; 
}
.b1 {
    background-color: #fff;

    border: 1px solid #dddddd;
}
/*左右留边*/
.s-lr-pdall {
    padding: 0 0.9375em;
    
}
.s-lr-mgall {
    
    margin: 0 .9375em;
}
.s-w100 {
    width: 100%;

}

/*font-size*/
.s-f-20 {
    font-size: .625em;
}
.s-f-22 {
    font-size: .6875em;
}
.s-f-24 {
    font-size: .75em;
}
.s-f-26 {
    font-size: .8125em;
}
.s-f-28 {
    font-size: .875em;
}
.s-f-30 {
    font-size: .9375em;
}
.s-f-32 {
    font-size: 1em;
}
.s-f-34 {
    font-size: 1.0625em;
}
.s-f-36 {
    font-size: 1.125em;
}

/*定位*/
.poretive {
    position: relative;
}
.poabsolute {
    position: absolute;
}
